.ProfileWrapper {
  text-align: center;
}

.ButtonWrapper {
  width: 99px;
  margin: 0 auto;
  margin-top: 45px;
}

.ProfileNotification,
.ProfileAddTour {
  width: 250px;
  min-height: 250px;
  padding: 30px;
  margin-top: 50px;

  color: var(--logo-title);
  font-size: 16px;
  font-weight: 600;
  line-height: 155%;

  border: 1px solid;
  border-radius: 20%;
}

.ProfileAddTour {
  margin: 0 auto;
  margin-top: 100px;
}

.ImageWrapper {
  padding-bottom: 48px;
  margin-top: 72px;
}

.ToursWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
